$border-style: 0 0 0 1px black;

.common {
  position: absolute;
  // border:1px solid black;
  & > :global(.position-indicator) {
    position: absolute;

    & > :global(.coordinates) {
      pointer-events: none;
      position: relative;
      left: -105%;
      top: -1.5em;
      text-shadow: 1px 1px 1px var(--canvas-cm-title-bg-color);
      color: var(--canvas-com-focus-color);
      transform-origin: bottom right;
      // font-size: 1.3em;
    }
  }

  &:global(.hide) {
    display: none;
  }

  &:global(.lock) {
    display: none;
    & > :global(.react-resizer) {
      & > :global(.resizer-handle-outer) {
        display: none;
      }
    }
  }

  &:global(.active) {
    box-shadow: $border-style;
    & > :global(.react-resizer) {
      box-shadow: $border-style;
    }
  }
}
